includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 6
    paths:
        - src/

    excludePaths:
        - '%rootDir%/../../../src/Generated/*'
        - '%rootDir%/../../../src/Orm/*'

    bootstrapFiles:
        - '%rootDir%/../../../phpstan-bootstrap.php'

    reportUnmatchedIgnoredErrors: false

    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
        - APPLICATION_CODE_BUCKET

    parallel:
    	maximumNumberOfProcesses: 1
